.root {
    -fx-background-color: #121212;
    -fx-text-fill: black;
}

.label {
    -fx-text-fill: lightgray;
}

.button {
    -fx-background-color: #777777;
    -fx-text-fill: black;
    -fx-border-color: #333;
    -fx-border-width: 1;
}

.text-area, .text-field {
    -fx-control-inner-background: #1e1e1e;
    -fx-text-fill: white;
    -fx-highlight-fill: #555;
    -fx-highlight-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
}

.scroll-pane {
    -fx-background: #121212;
}

.scroll-bar {
    -fx-background-color: #222;
}
.scroll-bar .thumb {
    -fx-background-color: #6b6b6b;
    -fx-background-insets: 2;
    -fx-background-radius: 4;
}

.menu-bar, .menu, .menu-item {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: white;
}

.tooltip {
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
}
