.root {
    -fx-background-color: #e9e9c8;
    -fx-text-fill: #000000;
    -fx-font-family: "Tahoma", "SansSerif", "Arial";
    -fx-font-size: 13px;
}

.label {
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #949dc6, #cbd4e7);
    -fx-text-fill: #000000;
    -fx-border-color: #3a424f;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #b0b0b0, #e0e0e0);
}

.text-area, .text-field {
    -fx-control-inner-background: rgb(229, 234, 247);
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.scroll-pane {
    -fx-background: #c1ceec;
}

.scroll-bar {
    -fx-background-color: #839db7;
}

.menu-bar, .menu, .menu-item {
    -fx-background-color: linear-gradient(to right, #acbee0, #8ea1c5);
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 1 0;
}

.context-menu {
    -fx-background-color: #a2b6da;
    -fx-text-fill: #000000;
}

.tooltip {
    -fx-background-color: #b7b7b7;
    -fx-text-fill: #000000;
    -fx-border-color: #b7c8d0;
}
